@model RelarPageFirstViewModel
@using RealEststeRelar.Models
@using Jmelosegui.Mvc.GoogleMap

@{
    if (Model != null)
    {
        <div class="container">
            <div class="map-head">
                <h2><b>Relar</b> Price and Liquidity Predictions</h2>
                <div class="map-img">

                    <!--Google Map binding-->
                    @{
        Html.GoogleMap()
           .Zoom(20)
          .Name("map")
          .Height(500)
          .MapTypeId(MapType.Hybrid)
       .Center(c => c.Latitude(34.1982955932617)
       .Longitude(-118.155418395996))
           .BindTo<MapViewModel, Marker>
           (Model.MapViewModelList, mappings => mappings.For<MapViewModel>
           (
           binding => binding.ItemDataBound
               (
               (marker, propQuery) =>
               {
                   marker.Latitude = Convert.ToDouble(propQuery.Lat);
                   marker.Longitude = Convert.ToDouble(propQuery.Lon);
                   marker.Title = propQuery.Address;

                   marker.Window = new InfoWindow(marker)
                   {
                       Template =
                       {
                           Content = () => ViewContext.Writer.Write(propQuery.Address)
                       }
                   };

               }

               )
           )
           ).Render();
                    }
                    <!--End Google Map binding-->

                </div>
                <div class="map-detail-listing">

                    <div class="content mCustomScrollbar">
                        <ul class="hotel-map-on-list">

                            <li>
                                <div class="hotel-image">
                                    <img src="~/Content/images/img-1.png" alt="" />
                                </div>
                                <div class="hotel-details-list-map">
                                    <h4>@Model.PropQuery.Address</h4>
                                    <label>$@string.Format("{0:N2}", Model.PropQuery.LastSalePrice)</label>
                                    <span>Private Sale @Model.PropQuery.LastSaleDate.ToShortDateString()</span>
                                    <ul>
                                        <li>
                                            <img src="~/Content/images/bed.png" width="29" height="19" alt="" />
                                            <p>@Model.PropQuery.Bedrooms</p>
                                        </li>
                                        <li>
                                            <img src="~/Content/images/batha.png" width="29" height="19" alt="" />
                                            <p>@Model.PropQuery.Bathrooms</p>
                                        </li>
                                        <li>
                                            <img src="~/Content/images/car.png" width="29" height="19" alt="" />
                                            <p>@Model.PropQuery.Garages</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                        </ul>

                    </div>

                </div>
                <div class="map-detail-left">
                    <ul>
                        <li>
                            <span>Price Prediction</span>
                            <label>$@string.Format("{0:N2}", Model.PropQuery.HouseWorthVal.valuePredicted)</label>
                        </li>
                        <li>
                            <span>Price Range (+/-)</span>
                            <label>$@string.Format("{0:N2}", Model.PropQuery.HouseWorthErr.valuePredicted)</label>
                        </li>
                        <li>
                            <span>Confidence Score</span>
                            <label>@Model.PropQuery.HouseWorthVal.confidenceScoreCurrent</label>
                        </li>
                        <li>
                            <span>Forecast Standard Confidence</span>
                            <label></label>
                        </li>
                    </ul>
                </div>
                <div class="map-detail-right">
                    <ul>
                        <li>
                            <span>List To Sale Ratio (%)</span>
                            <label>@Model.PropQuery.HouseWorthVal.PriceToSalesRatio</label>
                        </li>
                        <li>
                            <span>Daily List to Sale Ratio Change (%)</span>
                            <label>@Model.PropQuery.HouseWorthVal.DailyListToSaleChange</label>
                        </li>
                        <li>
                            <span>Predicted Market Time (Days)</span>
                            <label>@Model.PropQuery.TimeSellVal.valuePredicted</label>
                        </li>
                        <li>
                            <span>Predicted Market Time Range (Days)</span>
                            <label>@Model.PropQuery.TimeSellErr.valuePredicted</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="relar-price">
            <div class="container">
                <div class="relar-price-head">
                    <h2><b>Relar</b> Price vs. Time Prediction</h2>
                </div>
                <!--Generate Chart-->
                <div class="graph-left">
                    <img src='@Url.Action("XMLChart", "Home", new RouteValueDictionary(Model.PropQuery.PriceTimeToSell))' w width="529" height="341" alt="" />
                </div>
                <div class="graph-detail-right">
                    <table cellspacing="0" cellpadding="0" class="relar-table">
                        <colgroup>
                            <col width="40%">
                            <col width="30%">
                            <col width="30%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th></th>
                                <th>Price</th>
                                <th>Range</th>
                            </tr>
                            <tr>
                                <td>Sell in 30 days:</td>
                                <td>$@string.Format("{0:N2}", Model.PropQuery.PriceTimeToSell.price30)</td>
                                <td>$@string.Format("{0:N2}", Model.PropQuery.PriceTimeToSell.price30Var)</td>
                            </tr>
                            <tr>
                                <td>Sell in 60 days:</td>
                                <td>$@string.Format("{0:N2}", Model.PropQuery.PriceTimeToSell.price60)</td>
                                <td>$@string.Format("{0:N2}", Model.PropQuery.PriceTimeToSell.price60Var)</td>
                            </tr>
                            <tr>
                                <td>Sell in 90 days:</td>
                                <td>$@string.Format("{0:N2}", Model.PropQuery.PriceTimeToSell.price90)</td>
                                <td>$@string.Format("{0:N2}", Model.PropQuery.PriceTimeToSell.price90Var)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="property_information">
            <div class="container">
                <div class="property-price-head">
                    <h2>Property Information</h2>
                </div>
                <div class="left-tabel">
                    <table cellspacing="0" cellpadding="0" class="price-table">
                        <colgroup>
                            <col width="40%">
                            <col width="30%">
                            <col width="30%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th></th>
                                <th>Title Value</th>
                                <th>Value Used</th>
                            </tr>
                            <tr>
                                <td>APN</td>
                                <td>@Model.PropQuery.APN</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>House Size (sf)</td>
                                <td>@Model.PropQuery.PropTitle.Size/@Model.PropQuery.Size</td>
                                <td>@Model.PropQuery.PropTitle.Size</td>
                            </tr>
                            <tr>
                                <td>Bedrooms</td>
                                <td>@Model.PropQuery.PropTitle.Bedrooms/@Model.PropQuery.Bedrooms</td>
                                <td>@Model.PropQuery.Bedrooms</td>
                            </tr>
                            <tr>
                                <td>Total Rooms</td>
                                <td>@Model.PropQuery.PropTitle.Rooms/@Model.PropQuery.Rooms</td>
                                <td>@Model.PropQuery.PropTitle.Rooms</td>
                            </tr>
                            <tr>
                                <td>Garage Spaces</td>
                                <td>@Model.PropQuery.PropTitle.Garages/@Model.PropQuery.Garages</td>
                                <td>@Model.PropQuery.PropTitle.Garages</td>
                            </tr>
                            <tr>
                                <td>Pool</td>
                                <td>@Model.PropQuery.Pool</td>
                                <td>@Model.PropQuery.PropTitle.Pool</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="right-tabel">
                    <table cellspacing="0" cellpadding="0" class="price-table">
                        <colgroup>
                            <col width="40%">
                            <col width="30%">
                            <col width="30%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th></th>
                                <th>Title Value</th>
                                <th>Value Used</th>
                            </tr>
                            <tr>
                                <td>County</td>
                                <td>@Model.PropQuery.County</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Lot Size (sf)</td>
                                <td>@Model.PropQuery.PropTitle.LotSize/@Model.PropQuery.LotSize</td>
                                <td>@Model.PropQuery.LotSize</td>
                            </tr>
                            <tr>
                                <td>Bathrooms</td>
                                <td>@Model.PropQuery.PropTitle.Bathrooms/@Model.PropQuery.Bathrooms</td>
                                <td>@Model.PropQuery.PropTitle.Bathrooms</td>
                            </tr>
                            <tr>
                                <td>Year Built</td>
                                <td>-</td>
                                <td>@Model.PropQuery.YearBuilt</td>
                            </tr>
                            <tr>
                                <td>Fireplaces</td>
                                <td>@Model.PropQuery.PropTitle.Fireplaces/@Model.PropQuery.Fireplaces</td>
                                <td>@Model.PropQuery.PropTitle.Fireplaces</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        @Html.ActionLink("Next Page", "Summary", "Home")
    }
}


@section scripts
    {
    @(Html.GoogleMap().ScriptRegistrar())
}
