@model RealEststeRelar.Models.PropAlg

<tbody>
    <tr>
        <th>Street Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Date</th>
        <th>DOM</th>
        <th>Size</th>
        <th>Beds</th>
        <th>Baths</th>
        <th>Price</th>
        <th>Dist(mi)</th>
        <th>FC</th>
        <th>REO</th>
        <th>SS</th>
    </tr>
    @foreach (var p in @Model.Props)
    {
        <tr>
            <td>@p.Address</td>
            <td>@p.City</td>
            <td>@p.State</td>
            <td>@p.Zip</td>
            <td>@p.Date</td>
            <td>@p.Time</td>
            <td>@p.Sq_Ft</td>
            <td>@p.Beds</td>
            <td>@p.Baths</td>
            <td>$@string.Format("{0:N}", Convert.ToDecimal(p.Price)).ToString().TrimEnd('0').TrimEnd('.')</td>
            <td>@p.Dist</td>
            <td>@p.FC</td>
            <td>@p.REO</td>
            <td>@p.SS</td>
        </tr>
    }
</tbody>

